<div class="content">
	<ul class="breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<li>系统管理</li>
		</li>
		<li>
			<a href="javascript:void(0)" ui-sref="/.jobTypeList">机构班次</a>
		</li>
		<li>新增机构班次</li>
	</ul>
	<div class="box">
		<form class="formgroup" name="jobTypeForm">
			<div class="formrow">
				<label class="labtext-left"><sup class="required-flag">*</sup>服务机构</label>
				<input type="text"  ng-model="data.instName" maxlength="20" placeholder="请选择服务机构" ng-click="choiceServiceInstId()" required="required" readonly="readonly"/>				
			</div>
			<div class="formrow">
				<label class="labtext-left"><sup class="required-flag">*</sup>服务班次</label>
				<select ng-model="data.jobType" required="required">
					<option value="">请选择</option>
					<option value="1">白班</option>
					<option value="2">夜班</option>
				</select>
			</div>
			<div class="formrow">
				<label class="labtext-left"><sup class="required-flag">*</sup>开始时间</label>
				<input type="text" name="startTime" ng-model="data.startTime" style="width: 90px;" ng-blur="initTime()" required="required" />
			</div>
			<div class="formrow">
				<label class="labtext-left"><sup class="required-flag">*</sup>结束时间</label>
				<select ng-model="data.endTime" required="required">
					<option value="">请选择</option>
					<option value="{{data.thisDate}}">{{data.thisTime}}</option>
					<option value="{{data.halfDate}}">{{data.halfTime}}</option>
				</select>
			</div>
			<div class="fllab">
				<input type="submit" class="submit" value="提交" ng-click="save()" ng-disabled="jobTypeForm.$invalid" />
			</div>
		</form>
	</div>
</div>
<script type="text/ng-template" id="instChoice.html"> 
<div class="content" style="margin:0;">
	<ul class="breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<li>信息维护</li>
		</li>
		<li>人员档案</li>
		<li>人员档案新增</li>
		<li>单位查询</li>
		<i class="fa fa-times" aria-hidden="true" ng-click="close()" style="float: right;font-size: 36px;color: #8aafe4;margin-right: -15px;margin-top: -5px;"></i>
	</ul>
	<div class="box">
		<div class="filterForm">
			<ul class="clearfix">
				<li>单位名称：<input type="text" placeholder="请输入单位名称" ng-model="data.instName"></li>				
				<li>类型：
					<select ng-model="data.instType">	
						<option value="">全部</option>
						<option value="1">医院</option>
						<option value="2">社区</option>
					</select>
				</li>
				<li><button type="button" class="searchbtn" ng-click="query()"><i class="fa fa-search"></i>&nbsp查询</button></li>
			</ul>
		</div>
		<div class="signList">
			<table class="tablelist" style="min-width: auto;">
				<thead>
					<tr>
						<th class="cell-text">名称</th>
						<th class="cell-number">类型</th>
						<th class="cell-number">所属公司</th>
						<th class="cell-number">地区</th>
						<th class="cell-text">地址</th>
						<th class="cell-number">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="list in instList">
						<td class="cell-text">{{list.instName}}</td>
						<td class="cell-number">{{list.instType |InstTypeFilter}}</td>
						<td class="cell-number">{{list.instSysName}}</td>
						<td class="cell-number">{{list.instRegion}}</td>
						<td class="cell-text">{{list.instAddr}}</td>
						<td class="cell-number">
							<button type="button" class="btn btn-success" ng-click="choice(list)">
								<i class="fa fa-check-square"></i>&nbsp选择
							</button>							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="defaultPage" ng-show="instList== null">
		<img src="img/nodata.png" /> <span>暂无数据</span>
	</div>
	<uib-pagination total-items="pagerConf.totalItems" ng-model="pagerConf.currentPage" max-size="pagerConf.maxSize" first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页" boundary-links="true"></uib-pagination>
</div>
</script>