<div class="content">
	<ul class="breadcrumb">
		<li><i class="fa fa-home"></i>
			<li>系统管理</li>
		</li>
		<li>机构班次</li>
	</ul>
	<div class="box">
		<div class="filterForm">
			<ul class="clearfix">
				<li>单位名称：<input type="text" placeholder="请输入单位名称" ng-model="data.instName"></li>
				<li><button type="button" class="searchbtn" ng-click="query()"><i class="fa fa-search"></i>&nbsp查询</button></li>
				<li><button type="button" class="addbtn" ng-click="add()"><i class="fa fa-plus"></i>&nbsp新增</button></li>
			</ul>
		</div>
		<div class="signList">
			<table class="tablelist">
				<thead>
					<tr>
						<th class="cell-text">机构名称</th>
						<th class="cell-number">班次</th>
						<th class="cell-number">开始时间</th>
						<th class="cell-number">结束时间</th>
						<th class="cell-number">创建时间</th>
						<th class="cell-number">修改时间</th>
						<th class="cell-con">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="list in jobTypeList">
						<td class="cell-text">{{list.instName}}</td>
						<td class="cell-number">{{list.jobType | JobTypeFilter}}</td>
						<td class="cell-number">{{list.startTime| date:'HH:mm:ss'}}</td>
						<td class="cell-number">{{list.endTime| date:'HH:mm:ss'}}</td>
						<td class="cell-number">{{list.createTime| date:'yyyy-MM-dd HH:mm:ss'}}</td>
						<td class="cell-number">{{list.modifyTime| date:'yyyy-MM-dd HH:mm:ss'}}</td>
						<td class="cell-con">
							<button type="button" class="btn btn-primary" ng-click="edit(list)">
								<i class="fa fa-pencil-square-o fa-lg"></i>&nbsp编辑
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="defaultPage" ng-show="jobTypeList== null">
		<img src="img/nodata.png" /> <span>暂无数据</span>
	</div>
	<uib-pagination total-items="pagerConf.totalItems" ng-model="pagerConf.currentPage" max-size="pagerConf.maxSize" first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页" boundary-links="true"></uib-pagination>
</div>